.Aura-editor {
  --color-fg: #333;
  --color-bg: #fff;
  --textarea-font: monospace;
  --textarea-highlight-background: rgb(71, 113, 175);
  --textarea-highlight-color: #fff;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.Aura-editor * {
  box-sizing: border-box;
}

.Aura-toolbar {
  flex-grow: 0;
  background: var(--color-fg);
  padding: 0;
}

.Aura-button {
  background: transparent;
  border: none;
  color: var(--color-bg);
  padding: 8px;
  cursor: pointer;
}

/* begin: scroll container */

.Aura-scroll-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

/* end: scroll container */

.Aura-gutter {
  border-right: 1px solid var(--color-fg);
  font-size: 1em;
  padding: 0 8px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.Aura-line-numbers {
  min-width: 40px;
  font-family: var(--textarea-font);
  line-height: inherit;
  text-align: right;
  position: relative;
}

.Aura-line-number {
  width: 100%;
  position: absolute;
}

.Aura-textarea-wrapper {
  overflow: hidden;
  cursor: text;
  flex-grow: 1;
}

.Aura-selection-overlay {
  position: relative;
}

.Aura-active-line {
  position: absolute;
  padding: 0 8px;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.Aura-cursor-overlay {
  width: 100%;
  position: absolute;
  font-family: var(--textarea-font);
  white-space: pre;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.Aura-cursor {
  width: 2px;
  margin-left: -1px;
  height: 100%;
  position: absolute;
  white-space: pre;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  background-color: var(--color-fg);
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0.9;
  }

  49% {
    opacity: 0.9;
  }

  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }
}

.Aura-lines {
  width: 100%;
  font-family: var(--textarea-font);
  line-height: inherit;
  white-space: pre;
  overflow: hidden;
  user-select: none;
  padding: 0 8px;
  position: relative;
}

.Aura-line {
  position: absolute;
}

.Aura-textarea {
  display: block;
  position: absolute;
  height: 120px;
  opacity: 0;
  border: none;
  white-space: nowrap;
  overflow: auto;
}

.Aura-token.keyword {
  color: tomato;
}

.Aura-token.number {
  color: rgb(184, 46, 184);
}

.Aura-token.string {
  color: rgb(19, 74, 255);
}

.Aura-settings {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-size: 1em;
}

.Aura-settings-dialog {
  position: fixed;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  left: 32px;
  top: 32px;
  background-color: var(--color-bg);
}

.Aura-settings-input-label {
  width: 60%;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.Aura-settings-input {
  width: 80px;
  display: inline-block;
  padding: 8px;
  font-size: inherit;
}

.Aura-settings-close-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 32px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
