.Aura-editor {
  --color-fg: #333;
  --color-bg: #fff;
  --textarea-font: monospace;
  --textarea-highlight-background: rgb(71, 113, 175);
  --textarea-highlight-color: #fff;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: monospace;
}

.Aura-editor * {
  box-sizing: border-box;
}

.Aura-input {
  display: block;
  position: absolute;
  height: 32px;
  opacity: 0;
  border: none;
  white-space: nowrap;
  overflow: auto;

  /* temporary: */
  opacity: 1;
}

.Aura-scroll-container {
  flex-grow: 1;
  font-family: inherit;
  overflow: auto;
  display: flex;
}

.Aura-text-view {
  width: 100%;
  font-family: inherit;
  line-height: inherit;
  white-space: pre;
  overflow: hidden;
  user-select: none;
  position: relative;
  cursor: text;
}

.Aura-gutter {
  border-right: 1px solid var(--color-fg);
  font-size: 1em;
  /* padding: 0 8px; */
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.Aura-line-numbers {
  min-width: 40px;
  font-family: var(--textarea-font);
  line-height: inherit;
  text-align: right;
  position: relative;
}

.Aura-line-number {
  width: 100%;
  position: absolute;
}

.Aura-textarea-wrapper {
  cursor: text;
  flex-grow: 1;
}

.Aura-selection-overlay {
  position: relative;
}

.Aura-active-line {
  position: absolute;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.Aura-cursor-overlay {
  width: 100%;
  position: absolute;
  font-family: var(--textarea-font);
  white-space: pre;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.Aura-cursor {
  width: 2px;
  margin-left: -1px;
  height: 100%;
  position: absolute;
  white-space: pre;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  background-color: var(--color-fg);
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0.9;
  }

  49% {
    opacity: 0.9;
  }

  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }
}

.Aura-selection {
  background: lightblue;
  font-family: var(--textarea-font);
  line-height: inherit;
  white-space: pre;
  user-select: none;
  position: absolute;
  display: inline-block;
}

.Aura-line {
  position: absolute;
}

.Aura-token.keyword {
  color: tomato;
}

.Aura-token.number {
  color: rgb(184, 46, 184);
}

.Aura-token.string {
  color: rgb(19, 74, 255);
}
